[Unit]
Description=Run Rclone Omniscript Service every 30 minutes

[Timer]
OnBootSec=5min
OnUnitInactiveSec=15min
Persistent=true

[Install]
WantedBy=timers.target
